@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: transparent;
    --foreground: #0a0a0a;

    --card: #ffffff;
    --card-foreground: #0a0a0a;

    --popover: #ffffff;
    --popover-foreground: #0a0a0a;

    --primary: #a794ff;
    --primary-foreground: #1e154a;

    --secondary: #f3f4f9;
    --secondary-foreground: #3d404a;

    --muted: #f3f4f9;
    --muted-foreground: #787885;

    --accent: #f3f4f9;
    --accent-foreground: #3d404a;

    --destructive: #ff3d3d;
    --destructive-foreground: #fcfcfc;

    --border: #e1e1e6;
    --input: #e1e1e6;
    --ring: #0a0a0a;

    --radius: 0.5rem;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #fcfcfc;

    --card: #0a0a0a;
    --card-foreground: #fcfcfc;

    --popover: #0a0a0a;
    --popover-foreground: #fcfcfc;

    --primary: #fcfcfc;
    --primary-foreground: #3d404a;

    --secondary: #21222a;
    --secondary-foreground: #fcfcfc;

    --muted: #21222a;
    --muted-foreground: #a3a3a7;

    --accent: #21222a;
    --accent-foreground: #fcfcfc;

    --destructive: #4c0a0a;
    --destructive-foreground: #fcfcfc;

    --border: #21222a;
    --input: #21222a;
    --ring: #d9d9e8;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
